header img{
    display: flex;
}

p {
    text-align: justify;
    background-color: lightblue;
    font-size: 20px;
    padding: 20px;
}
header {
    background-color: grey;
    text-align: right;
    padding: 1em;
}

footer {
    text-align: center;
    background-color: grey;
    padding: 1em;
}

div img {
    width: 200px;
    height: 200px;
}

div{
    width: 70%;
    margin: auto;
    display: flex;
}
a{
    color: rgb(131, 16, 131);
    padding: 1em;
}

footer a{
    color: rgb(19, 19, 122);
    font-style: italic;
    text-decoration: none;
}